*{
    font-family: 'Roboto', sans-serif;
}

.top{
    background-image: url("../img/Backgroud\ scheme.jpg");
    background-position: center;
    background-size: cover;
    padding: 200px;
}
.all{
    background-color: palegreen;
    padding: 30px 100px;
}

.headline{
    text-align: center;
    font-size: 40px;
}

p{
    font-size: 18px;
}

body{
    margin: 0;
}

.topNavBar{
    background-color: forestgreen;
    height: 55px;
}

.navList{
    float: right;
}

.navList li{
    display: inline-block;
}

.navList li a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.navList li a:hover{
    color: darkgoldenrod;
    text-decoration: underline;
}

#bilder{
    border: 2px solid #345678;
}

.bottomHead{
    background-color: #11253a;
    padding: 20px 100px;
    color: white;
}

.headline3{
    font-size: 20px;
}